<div>
  <h1>
    <% if current_user.present? %>
      <%= current_user.username%>'s landing page!
    <% else %>
      Please Sign In or Sign Up!
    <% end %>
  </h1>
</div>

<hr>
<% if current_user != nil %>
  <ul>
    <li>
      <a href="/groups">See my groups</a>
    </li>
    <li>
      <a href="/friend_requests">See my friends</a>
    </li>
  </ul>
<% else %>
  <p>You must <a href="/users/sign_in">sign in</a> to see your groups</p>
<% end %>
